{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}


{% endblock %}

<!-- Content -->
{% block content %}
<section>
    <div>
        <div>
            <!-- Hero content -->
            <div>
                <h1>Bienvenue à la Médiation Scientifique</h1>

                <p><strong>Le partage de culture scientifique est un besoin ressenti à la fois par le public et par les scientifiques. Il s'agit, au minimum, de vulgariser des concepts scientifiques… mais pas seulement ! Au-delà de la vulgarisation, il y a la médiation scientifique.</strong></p>
            </div>
        </div>
    </div>
    <div>
        <p class="texte-intro">
            Rendre les savoirs scientifiques accessibles au grand public est un enjeu de vulgarisation et d'éducation en général. Dans les deux cas, on considère généralement que l'échange se fait
            principalement dans un sens : du sachant vers l'apprenant.
        </p>
        <p class="texte-intro">
            La médiation scientifique va au-delà de cette diffusion du savoir. Elle met en place une relation à
            double sens entre la société et la recherche scientifique. Ce double sens peut s'exprimer, quand il
            va de la société vers la recherche, via les préoccupations du public (des questions d’éthique par
            exemple) mais aussi des choix et des connaissances à prendre en compte dans cette relation. Le grand
            public peut expérimenter par lui-même, apporter sa réflexion, et aussi progresser dans ses
            connaissances scientifiques. La recherche scientifique, aussi, peut progresser en cultivant cette
            relation à double sens en étant à l'écoute du grand public. L'intérêt est double, pour la recherche
            comme pour la société, il s'agit de permettre des décisions éclairées, personnelles à l'échelle de
            l'individu et citoyennes à l'échelle de la société.
        </p>
        <p class="texte-intro">
            Pour autant, éducation, vulgarisation, formation et médiation scientifique partagent un socle commun d’actions, de valeurs et d'effets attendus.
        </p>
    </div>
    <div class="admonition info">
        <p class="admonition-title">Info</p>
        <p><a href="https://pixees.fr/">Pixees</a> contient de nombreuses ressources de médiation. </p>
        <p>Nous publions une <a href="https://pixees.fr/participer/">gazette tous les mois</a>, n'hésitez pas à vous abonner !</p>
        <p>Vous pouvez également consulter <a href="https://hal.science/INRIA-MEDIATION-SCIENTIFIQUE/">les publications de médiation scientifique</a> déposées dans HAL.</p>
    </div>

    <h2>Les objectifs de la médiation scientifique : </h2>
    <div>
        <ul>
            <li>
                <p>Vulgariser la science,</p>
            </li>
            <li>
                <p>Éveiller la curiosité pour les sciences du numérique,</p>
            </li>
            <li>
                <p>Faire comprendre la démarche scientifique,</p>
            </li>
            <li>
                <p>Aider les citoyens à comprendre les enjeux du numérique,</p>
            </li>
            <li>
                <p>Former des formateurs et des médiateurs scientifiques,</p>
            </li>
            <li>
                <p>Créer et partager des activités en ressources libres,</p>
            </li>
            <li>
                <p>Promouvoir les sciences participatives,</p>
            </li>
            <li>
                <p>Et plus généralement, établir un dialogue entre la société et les scientifiques.</p>
            </li>
        </ul>
    </div>

    <h2>Le réseau de Médiation Scientifique vous accompagne</h2>
    <div>
        <p>Le réseau accompagne les scientifiques en proposant des outils et expertises pour mettre en œuvre des actions
            de médiation :</p>
        <ul>
            <li>
                <p><a href="https://pixees.fr/la-formation-a-la-mediation-scientifique-une-necessite/">Formation à la
                        médiation scientifique</a>,</p>
            </li>
            <li>
                <p>Veille et accompagnement au montage de projets de médiation scientifiques (ANR, projets européens,
                    CCSTI...),</p>
            </li>
            <li>
                <p>Accompagnement au développement de ressources,</p>
            </li>
            <li>
                <p>Élaboration de partenariats (associations, fondations, sociétés savantes…),</p>
            </li>
            <li>
                <p>Organisation d'évènements et rencontres (MathC2+, fête de la science, Chiche…),</p>
            </li>
            <li>
                <p>Organisation de webinaires et création d'espaces de démonstrations,</p>
            </li>
            <li>
                <p>Valorisation des activités de médiation scientifique dans les carrières professionnelles,</p>
            </li>
            <li>
                <p>Mise en contact suite à des sollicitations du public (écoles, professeurs, entreprises, ...)</p>
            </li>
        </ul>
    </div>
</section>

<section>
    <h2>Au niveau national, le service Médiation Scientifique est composé de :</h2>
<div>
        <ul>
            <li>
                Iléna Castelain, alternante en Médiation Scientifique, à Lille ;
            </li>
            <li>
                Alice Decarpigny, cheffe de projets de Médiation Scientifique, à Lille ;
            </li>
            <li>
                Maël Guegan, chargé de projets de Médiation Scientifique, à Rocquencourt ;
            </li>
            <li>  
                Laurence Hermant, cheffe de projet "1 scientifique, 1 classe : chiche !", à Rocquencourt ;
            </li>
            <li>   
                Julie Jagielka, chargée de projets de Médiation Scientifique, à Rocquencourt ;
            </li>
            <li> 
                Christine Leininger, cheffe de projets de Médiation Scientifique, à Rocquencourt ;
            </li>
            <li>  
                Camille Picard, cheffe de projets de Médiation Scientifique, à Rocquencourt ;
             </li>
            <li> 
                Flora Sanchez, alternante en informatique, à Grenoble ;
            </li>
            <li>   
                Marie Sanchez, chargée de projets de Médiation Scientifique et PO Connexion Chiche, à Bordeaux ;
             </li>
            <li> 
            Sylvain Zanini, alternant en informatique, à Grenoble.
            </li>

<p>Sous la responsabilité de Mélanie Raimbault, responsable du service, à Grenoble.</p>
          
    <h2>Avec la collaboration de</h2>
    <div>
        <ul>
            <li>
                Martine Courbin-Coulaud, ingénieure documentaliste IES pour la Médiation Scientifique, à Bordeaux ;
            </li>
            <li>
                Sylvie Embolla, documentaliste IES pour la Médiation Scientifique, à Bordeaux ;
            </li>
            <li>
                Valérie François, ingénieure documentaliste IES pour la Médiation Scientifique, à Sophia-Antipolis ;
            </li>
            <li>
                Corinne Touati, porteuse des projets ANR MediaNum et MediaGame, chercheuse à Grenoble.
            </li>
        </ul>

    </div>

    <h2>Des référents dans chaque centre de recherche</h2>

    <div>
        <p>Un binôme composé d'un communicant ou médiateur scientifique et d'un chercheur ou ingénieur :</p>
        <ul>
            <li>
                <p>Centre Inria de l’université de Bordeaux : Suzane Fleury, Emmanuelle Saillard, <a
                        href="mailto:mediation-bso@inria.fr">contact</a>.</p>
            </li>
            <li>
                <p>Centre Inria de l'Université Grenoble Alpes : Natacha Cauchies, Jean-Marc Vincent.</p>
            </li>
            <li>
                <p>Centre Inria de l’Université de Lille : Julia Plaïa, Magda Guennadi, Simon Lemaire.</p>
            </li>
            <li>
                <p>Centre Inria de Lyon : Anne-Laure Fogliani.</p>
            </li>
            <li>
                <p>Centre Inria de l’Université de Lorraine : Véronique Poirel, Erwan Kerrien.</p>
            </li>
            <li>
                <p>Centre Inria de Paris  : Jennifer Grapin, Fabrice Rouillier.</p>
            </li>
            <li>
                <p>Centre Inria de l’Université de Rennes : Camille Sicot, Claire Cury, Thomas Maugey, <a
                        href="mailto:sc-rba@inria.fr">contact</a>.</p>
            </li>
            <li>
                <p>Centre Inria de Saclay : Amandine Kuhn, Danaé Baudson, Simon Mauras, Mathieu Hemery.</p>
            </li>
            <li>
                <p>Centre Inria d’Université Côte d’Azur : Marc Fulconis, Dorian Mazauric, Damien Saucez, Romain Veltz, <a
                        href="mailto:mediation-sam@inria.fr">contact</a>.</p>
            </li>
        </ul>

    </div>

{% endblock %}

<!-- Application footer -->
{% block footer %}

<footer class="md-footer">
    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            {% include "partials/copyright.html" %}

            <div class="md-copyright">
                <a href="{{ base_url }}/Mention/mentions-legals">Mentions légales</a>
            </div>

            <div class="md-copyright logo-inria">
                <img src="{{ base_url }}/assets/inr_logo_blanc.png" alt="logo Inria" />
            </div>

            <!--             Social links
            {% if config.extra.social %}
            {% include "partials/social.html" %}
            {% endif %} -->
        </div>
    </div>
</footer>

{% endblock %}
