/* HERO BANNER */
.hero-banner {
  background: #27348b; /* Bleu Nuit Inria */
  color: #fff;
  padding: 80px 20px;
  text-align: center;
  position: relative;
}

/* Logo RF-Inria en haut à droite */
.hero-header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hero-logo {
  max-width: 140px;  /* taille réduite */
  height: auto;
}

/* Footer logo Inria seul */
.footer-logo img {
  max-width: 100px;  /* discret */
  height: auto;
  margin-left: 15px;
  vertical-align: middle;
}
